article {
  height: auto;
  display: flex;
  margin: 1rem;
}

.card-box1 {
  display: flex;
  width: auto;
  padding: 2%;
  background-color: #9b6680;
  cursor: pointer;
  border-radius: 12px;
  justify-content: center;
  font-size: 0.9em;
}
.card-box1:hover {
  background-color: #9e4f75;
}

.addList {
  background-color: #935579;
  all: unset;
  color: white;
}

.inputTitle {
  height: auto;
  background-color: #22272b;
  color: #abb6c3;
}
